@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');

::root{
    --primary-color: #f9f9f9;
    --secondary-color: #005b96;
    --tertiary-color: #b3cde0;
    --border-color: #ddd;
    --font-color: #011f4b;
    --font-color-negative: #fff;
    --font-family: 'News Cycle', sans-serif;
    --font-size: 1rem;
    --font-weight: 400;
    --line-height: 1.6;
    --border-radius: 0.25rem;
    --transition: all 0.3s linear;
}

body{
  background-color: var(--primary-color);
}